*,*::after,*::before{
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}

#menu ul{
      text-align: center;
      margin-top: 30px;
}

#menu li{
      width: 60px;
      height: 100px;
      border: 2px solid #ddd;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      display: inline-block;
      box-shadow: 0 0 10px #ddd;
      cursor: pointer;
}

#menu li.white{
      background-color: #fff;
}


#menu li.red{
      background-color: #e84118;
}

#menu li.green{
      background-color: #4cd137;
}

#menu li.blue{
      background-color: #487eb0;
}

#menu li.orange{
      background-color: #c56cf0;
}